mixin fix_picture(parentClasses, nameImage, ext, altText)
    picture(class= parentClasses)
        source(type='image/webp', srcset= './img/' + nameImage + '@2x.webp' + ' 2x')
        source(type='image/jpeg', srcset= './img/' + nameImage + '@2x.' + ext + ' 2x')
        img(src='./img/' + nameImage + '@1x' + ext, alt= altText, loading='lazy')


mixin project_block(href, parentClasses, nameImage, ext, mainText, away)
    a.project(href= href, target='_blank', rel='nofollow noopener', class=away)
        +fix_picture(parentClasses, nameImage, ext, mainText)
        p.project__text
            =mainText
