
* {
	font-family: inherit;
	-webkit-font-smoothing: antialiased;
}

html {
	min-height: 100%;
	position: relative;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

html, body{
	font: 300 20px/1.1 var(--mainFont);
}


body {
	color: var(--black);
	height: 100vh;
	overflow: hidden;
	padding: 0;
	min-width: 300px;
	background-color: var(--white);
	position: relative;
	margin: 0;
	scroll-behavior: smooth;
}
