.image{
	text-align: center;

	background: repeating-linear-gradient(
					90deg,
					var(--primaryColor),
					var(--primaryColor) var(--bgSize),
					var(--white) var(--bgSize),
					var(--white) calc(1.8 * var(--bgSize))
	);
}
svg{
	height: 100vh;
	width: auto;
}


#ribbon{
	clip-path: url(#ribbon_mask);
}


.author{
	background: var(--primaryColor);
	color: var(--white);
	position: fixed;
	top: 0;
	left: 0;
	padding: 1rem .25rem ;
	text-align: left;
	font-size: .8rem;
	letter-spacing: .05em;

	a{
		display: block;
		margin-top: .25rem;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1rem;
	}
}

a{
	color: inherit;
	text-decoration: none;
	border-bottom: 2px solid var(--black);
	transition: color .3s var(--trans);

	&:hover{
		color: var(--black);
	}
	&:focus,
	&:active{
		outline: 2px solid var(--white);
	}
}
