.image{
	text-align: center;

	font-family: var(--mainFont);
	font-size: 21px;
}
svg{
	margin: 5vh auto;
	height: 90vh;
	width: auto;
}


#legs{
	clip-path: url(#legs_mask);
}


.author{
	background: var(--primary);
	color: var(--white);
	position: fixed;
	top: 0;
	left: 0;
	letter-spacing: .04em;
	font-size: 16px;
	padding: 20px 10px ;
}

.line{
	stroke: var(--black);
	stroke-width:2.5;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
	fill:none;
}
.fill-line {
	fill:var(--black);
}


a{

	&:hover {
		fill: var(--primary);
	}
	&:focus,
	&:active {
		outline: 2px solid var(--secondary1);
	}
}

.skin{fill: var(--white)}

.sweater{  fill: var(--tertiary2)}
.hairs{  fill:var(--primary)}


.speech__border{fill: var(--black)}
.speech__bg{fill: var(--white)}
