svg{
	margin: 5vh auto;
	height: 90vh;
	width: auto;
	display: block;

	text{
		font-size: 21px;
	}
}


#legs{
	clip-path: url(#legs_mask);
}


.author{
	background: var(--primary);
	color: var(--white);
	position: fixed;
	top: 0;
	left: 0;
	letter-spacing: .04em;
	font-size: 16px;
	padding: 20px 10px ;
}

.line{
	stroke: var(--black);
	stroke-width:2.5;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
	fill:none;
}
.fill-line {
	fill:var(--black);
}


a{

	&:hover {
		fill: var(--primary);
	}
	&:focus,
	&:active {
		outline: 2px solid var(--secondary1);
	}
}

.skin{fill: var(--white)}

.sweater{  fill: var(--tertiary2)}
.hairs{  fill:var(--primary)}

.speech__border{fill: var(--black)}
.speech__bg{fill: var(--white)}


.changeImage{
	position: fixed;
	left: 0;
	top: 0;
	padding: 20px;
	text-align: left;
	line-height: 1;
	font-size: 21px;

	label{
		min-width: 100px;
		display: inline-block;
	}

	br{
		content: '';
		display: block;
		height: 10px;
	}
}

