:root {
	--black: #1C1C1C;
	--white: #ffffff;

	--primary: #1f5b70;

	--secondary1: #fccd49;
	--secondary2: #fbaa1d;

	--tertiary1: #e3d7c9;
	--tertiary2: #b29376;

	--mainFont: 'Neucha', cursive;

}
