* {
	font-family: inherit;
	-webkit-font-smoothing: antialiased;
}

html {
	min-height: 100%;
	position: relative;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	background: var(--black);
	color: var(--white);
}

a, img, button {
	border: 0;
}
img, svg, canvas, object {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
	transition: all .3s var(--trans);
	color: var(--white);
}
a:focus,
a:hover{
	text-decoration: none;
}

html, body{
	font: 400 18px/1.4 var(--mainFont);

	@media(min-width: $tablet) {
		font-size: 20px;
	}
	@media(min-width: $desktop) {
		font-size: 24px;
	}
}

body {
	min-height: 100%;
	padding: 0;
	min-width: 300px;
	position: relative;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 2.6rem;
	font-family: var(--accentFont);
	margin: 0;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;

	clip: rect(0 0 0 0);
}
