
* {
	font-family: inherit;
	-webkit-font-smoothing: antialiased;
}

html {
	position: relative;
}

html, body{
	font: 300 12px/1.1 var(--mainFont);
	height: 100vh;
	min-height: 100%;
}


body {
	color: var(--black);
	//overflow: hidden;
	padding: 0;
	min-width: 300px;
	background-color: var(--white);
	position: relative;
	margin: 0;
	scroll-behavior: smooth;
}
